html {
    font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

body {
    background: #3A3A4D;
    /*padding: 25px;*/
}

.list {
    background-color:#242437;
    width: 100%;
    height:500px;
    position: relative;
    display: block;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
    padding: 0px;
    z-index: 0px;
    min-height: 60px; /*minimal height to ensure cards could be added to an empty list*/

}


.tile {
    color: #efefef;
    font-weight: normal;
    font-size: 1em;
    display: block;
    position: relative;
    background-color: deepskyblue;
    width: 100%;
    height:60px;
    margin-bottom: 7px;             /*create a margin between cards*/
    text-align: center;
    padding: 0px;
}

.sortable-ghost {
    visibility: hidden;
}
