html {
    font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

body {
    background: #3A3A4D;
    padding: 25px;
}

h3 {
    color: #efefef;
    font-weight: normal;
    margin-bottom: 30px;
}
h3 a {
    color: darkcyan;
    text-decoration: none;
    padding-bottom: 3px;
}
h3 a:hover {
    color: deepskyblue;
}

.list {
    background-color:#242437;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
    padding: 0px;
    z-index: 0px;
    min-height: 60px; /*minimal height to ensure cards could be added to an empty list*/

}

.tile {
    color: #efefef;
    font-weight: normal;
    font-size: 1em;
    display: block;
    position: relative;
    background-color: deepskyblue;
    width: 100%;
    height:60px;
    margin-bottom: 7px;             /*create a margin between cards*/
    text-align: center;
    padding: 0px;
}

.sortable-ghost {
    visibility: hidden;
}

.button{
    display: block;
    position: static;
    background-color: #3A3A4D;
    color: darkgray;
    width:100%;
    height:40px;
    margin-right: 20px;
    margin-left: 20px;
    border-style: solid;
    border-color: darkcyan;
    font-size: 1em;
    text-align: center;
    line-height: 32px;
}


.button:hover {
    background-color: darkcyan;
    color:whitesmoke;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #b0e0e6;
}

/*This is the greyed-out background behind the modal window*/
.modal-bg{
    position:fixed;
    left:0;right:0;
    top:0;bottom:0;
    z-index:100;
    background-color:rgba(50,50,50,0.5);
}

/*This is the modal window itself*/
#modal{
    position:absolute;
    background-color:#F5F5F6;
    top:50%;
    left:50%;
    z-index:101;
    width:340px;
    height:260px;
    margin-top:-130px;
    margin-left:-170px;
    box-shadow:0 0 10px 0 rgba(0,0,0,0.3);
}

/*The span div inside the modal is the coloured bar along the top with the title & the Close button*/
#modal span{
    display: block;
    background:#5DC3A7;
    padding: 10px;
    color:#fff;
    border-radius:3px;
}

/*This is the close(x) button*/
#close{
    float: right;
    color: #fff;
    font-family: serif;
    font-size: 15px;
}
#close:hover{
    color: #000;
}

form{
    display:block;
    margin:30px;
}
form *{
    margin:10px;
}
input:focus{
    border:2px solid #5DC3A7;
    outline:0;
}
input{
    width:240px;
    padding:7px;
    border:2px solid #ccc ;
    border-radius:3px;
}

#submit {
    float: right;
    padding: 8px 12px;
    margin-top: 15px;
    background: #5DC3A7;
    border: none;
    color: #fff;
    /*border-bottom: 3px solid #23AA84;*/
    /*border-radius: 3px;*/
    cursor: pointer;
}
#submit :active{
    margin: 18px 10px;
}
#submit:hover{
    background-color: #0FC491;
}