.list-of-cards li {
    margin-top: 10px; /*create margin between cards */
}

.day {
    border: 1px solid black;
}

.list-of-cards {
    min-height: 40px; /*minimal height to ensure cards wcould be added to an empty list*/
}

.list-of-cards li {
    padding: 0px; /*to make sure there isn't unnecessary space between <li>s and their nested <a>s*/
    border: 0px; /*clear <li> border so that only the <a> border will be visible*/
}

.list-of-cards li a {
    /*to make sure there isn't unnecessary space between <li>s and their nested <a>s*/
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
}

