
a {
    text-decoration: none;
}

.accordion {
    overflow:hidden;
}

/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background-color: #f7f7f7;
    transition:all linear 0.15s;
    /* Type */
    font-weight: normal;
}

.accordion-section-title.active, .accordion-section-title:hover {
    background: #cdcdcd;
    /* Type */
    text-decoration:none;
}

/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
    background-color: #f7f7f7;
    border-bottom:1px solid #1a1a1a;
}