*{
    font-family: Raleway, "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    /*prevents selection of text for copying and pasting it*/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*prevent element popout (for disabling appearance of magnifying glass on long press)*/
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    -ms-touch-callout: none;
    touch-callout: none;
    /*prevents the grey highlight when anything is tapped on the iPad*/
    -webkit-tap-highlight-color: transparent;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body {
    background-color: #E9ECEF;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

input, textarea {
    /*enables selection of text for input elements (overrides disabling declared for the entire app (see * {})*/
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}

/*===================================================================================================================*/
/* LOGIN PAGE */
/*===================================================================================================================*/

#logInPage{
    background-color: #1B9BAE;
    height: 100vh;
}

#loginForm{
    display: block;
    margin: auto;
    background-color: #E9ECEF;
    width: 426px;
    height: 210px;
    position: absolute;
    margin: -99px 0 0 -214px;
    top: 50%;
    left: 50%;

}

#loginForm input{
    background-color: white;
    border: none;
    width: 310px;
    height: 40px;
    float: right;
    margin-right: 42px;
    text-indent: 35px;
    font-size: .9em;
    color: #607A93;
    margin-bottom: 15px;
}


#logInEmailInput{
    margin-top: 30px;
}

.toggleSignLog{
    font-size: 1em;
    margin-top: 5px;
    margin-right: 15px;
    background-color: transparent;
    height: 35px;
    border: none;
    color: rgb(149,202,173);
    float: right;
}
.loginSignUpButton{
    float: right;
    margin-right: 42px;
    color: white;
    border: none;
    font-family: acme;
    text-transform: uppercase;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    background-color: rgb(149,202,173);
    font-size: 1em;
    margin-top: 5px;
}


#neckLoginRuzo{
    width: 97px;
    height: 56px;
    position: absolute;
    margin: -138px 0 0 -113px;
    top: 50%;
    left: 50%;
}

#backLoginRuzo{
    width: 117px;
    height: 34px;
    position: absolute;
    margin: -120px 0 0 -198px;
    top: 50%;
    left: 50%;
}

#tailLoginRuzo{
    width: 115px;
    height: 219px;
    position: absolute;
    top: -20px;
    left: -10px;
}


#headLoginRuzo{
     width: 146px;
     height: 145px;
     position: absolute;
     top: -136px;
    left: 75px;
}

#headLoginRuzoClosed{
    width: 146px;
    height: 145px;
    position: absolute;
    top: -136px;
    left: 75px;
}

#logInEmailErrorMessage {
    position: absolute;
    line-height: 2.5em;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: inline-block;
    font-size: .8em;
    color: #BC6771;
    background-color: white;
    right: -231px;
    top: -16px;
    padding-right: 10px;
    padding-left: 10px;
}

#loginEmailErrorTriangle{
    position: absolute;
    right: 8px;
    top: 38px;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-right: 1em solid #BC6771;
    display: none;
}

#logInPasswordErrorMessage{
    position: absolute;
    line-height: 2.5em;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: inline-block;
    font-size: .8em;
    color: #BC6771;
    background-color: white;
    right: -175px;
    top: -16px;
    padding-right: 10px;
    padding-left: 10px;
}


#loginPasswordErrorTriangle{
    position: absolute;
    right: 8px;
    top: 94px;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-right: 1em solid #BC6771;
    display: none;
}

/*===================================================================================================================*/
/* SIGN UP PAGE */
/*===================================================================================================================*/

#signUpPage{
    background-color: #1B9BAE;
    height: 100vh;
}

#signUpForm{
    display: block;
    margin: auto;
    background-color: #E9ECEF;
    width: 560px;
    height: 335px;
    position: absolute;
    margin: -160px 0 0 -280px;
    top: 50%;
    left: 50%;
}


#signUpForm input{
    background-color: white;
    border: none;
    width: 475px;
    height: 40px;
    display: block;
    margin-bottom: 15px;
    font-size: .9em;
    color: #607A93;
    text-indent: 10px;
    margin-left: auto;
    margin-right: auto;
}

#usernameInput {
    margin-top: 30px;

}

#ruzoLogo{
    width: 140px;
    height: 100px;
    position: absolute;
    top: -100px;
    left: -28px;
}

#ruzoTagline{
    width: 155px;
    height: 42px;
    position: absolute;
    top: -52px;
    left: 122px;
}

#headSignUpRuzo{
    position: absolute;
    height: 105px;
    width: 105px;
    left: 510px;
    top: 114px;
}

#headSignUpRuzoClosed{
    position: absolute;
    height: 105px;
    width: 105px;
    left: 510px;
    top: 114px;
}


#bodySignUpRuzo{
    position: absolute;
    height: 160px;
    width: 142px;
    left: 530px;
    top: 182px;
}

#tailSignUpRuzo{
    position: absolute;
    height: 213px;
    width: 88px;
    left: 600px;
    top: 128px;
}

#loginRuzoShadow{
    width: 140px;
    height: 40px;
    border-radius: 50%;
    background-color: #428B96;
    position: absolute;
    bottom: -40px;
    right: -104px;
}

#signUpEmailErrorTriangle{
    position: absolute;
    right: 120px;
    top: 93px;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-right: 1em solid #BC6771;
    z-index: 2;
    display: none;
}

#signUpPasswordErrorTriangle{
    position: absolute;
    right: 120px;
    top: 208px;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-right: 1em solid #BC6771;
    z-index: 2;
    display: none;
}

#signUpUsernameErrorTriangle{
    position: absolute;
    right: 120px;
    top: 36px;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-right: 1em solid #BC6771;
    z-index: 2;
    display: none;
}

#signUpUsernameErrorMessage{
    position: absolute;
    line-height: 2.5em;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: inline-block;
    font-size: .8em;
    color: #BC6771;
    background-color: white;
    right: -179px;
    top: -16px;
    padding-right: 10px;
    padding-left: 10px;
    z-index: 2;
}

#signUpEmailErrorMessage{
    position: absolute;
    line-height: 2.5em;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: inline-block;
    font-size: .8em;
    color: #BC6771;
    background-color: white;
    right: -304px;
    top: -16px;
    padding-right: 10px;
    padding-left: 10px;
    z-index: 2;
}

#signUpPasswordErrorMessage{
    position: absolute;
    line-height: 2.5em;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: inline-block;
    font-size: .8em;
    color: #BC6771;
    background-color: white;
    right: -234px;
    top: -16px;
    padding-right: 10px;
    padding-left: 10px;
    z-index: 2;
}

/*===================================================================================================================*/
/* NAV BAR, STATUS BAR AND ICONS */
/*===================================================================================================================*/

.iPadStatusBar {
    height: 20px;
    background-color: #607A93;
    position: relative;            /* Needs position for z-index to work*/
    z-index: 2;                     /* Brings it in front of icon highlights*/
}

#navBar {
    height: 80px;
    background-color: #1B9BAE;
    position: relative;
    display: block;
    overflow: hidden;
}

.navButton{
    position: relative;
    background-color: transparent;
    border: none;
    height: 80px;
    width: 80px;
    text-align: center;
    color: white;
    font-size: .8em;
    margin-left: 5px;
    line-height: 1.6;
    font-weight: 300;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
}

.navIcon{
    height: 40px;
    width: 40px;
    z-index: 2;
    overflow: hidden;

}

.iconHighlight{
    top: -5px;
    height: 90px;
    width: 90px;
    background-color: white;
    opacity: .2;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    overflow: hidden;
}

#weekHighlight{
    margin-left: 88px;
    overflow: hidden;
}

#subjectsHighlight{
    margin-left: 0;
    display: none;
    overflow: hidden;
}

#progressHighlight{
    margin-left: 177px;
    display: none;
    overflow: hidden;
}

#profileButton{
    float: right;

}

#settingsButton{
    float: right;
}


/*===================================================================================================================*/
/* HEADINGS & CONTROLS */
/*===================================================================================================================*/
/*to get rid of the blue halo around buttons when they are pressed*/
button:focus {outline:0;}
input:focus {outline:0;}

#calendarControls{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
    padding-top: 35px;
}

#control_prev{
    float: left;
    height: 37px;
    width: 29px;
    border: none;
}

#control_next{
    float: right;
    height: 37px;
    width: 29px;
    border: none;
}

.addTaskFromCalendar {
    color: #607A93;
    border: none;
    font-size: .8em;
    height: 44px;
    background-color: rgba(255,255,255,0.4);
    width: 100%;
    text-align: left;
    margin-bottom: -5px;
    cursor: pointer;
}

#weekHeadingOnCalendar{
    font-family: acme, sans-serif;
    color: #607A93;
    font-weight: 400;
    font-size: 2em;
    text-align:center;
    display: inline;
    cursor: default;
}

.dayHeadingOnCalendar{
    color: white;
    font-family: 'Acme', sans-serif;
    font-size: 1.2em;
    margin: auto;
    padding: 1%;
    text-transform: uppercase;
}

.dateOnCalendarDay{
    color: white;
    font-family: Acme, sans-serif;
    opacity: .5;
    font-size: .8em;
    padding: 5%;
    text-transform: uppercase;
}

.dayDateDiv{
    width: 100%;
    background-color: #31A9A8;
    padding: 3%;
    cursor: default;
}

/*===================================================================================================================*/
/* TASK CARDS */
/*===================================================================================================================*/

.cardTask {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    font-weight: normal;
    border-radius: 3px;
    align-items: center;
    position: relative;
    width: 135px;
    height:65px;
    margin-bottom: 7px;             /*create a margin between cards*/
    cursor: -webkit-grab;
    -webkit-box-shadow: -1px 13px 21px -10px rgba(163,148,163,0.25);
    -moz-box-shadow: -1px 13px 21px -10px rgba(163,148,163,0.25);
    box-shadow: -1px 13px 21px -10px rgba(163,148,163,0.25);
}

.cardText {
    font-family: 'Raleway', sans-serif;
    font-size: .8em;
    color: white;
    margin: 5%;
    line-height: 1.5;
}

/*This is the dragged image*/
.dragged-item .cardTask {
    width: 140px;
    height: 70px;
    opacity: 1;
    -webkit-transform: rotate(3deg); /* Safari */
    transform: rotate(3deg);
    -webkit-box-shadow: 0 1px 22px 3px rgba(0,0,0,0.26);
    -moz-box-shadow: 0 1px 22px 3px rgba(0,0,0,0.26);
    box-shadow: 0 1px 22px 3px rgba(0,0,0,0.26);
}

.sortable-chosen{
    opacity: .8;
    -webkit-transform: rotate(2deg); /* Safari */
    transform: rotate(3deg);
    -webkit-box-shadow: 0 1px 22px 3px rgba(0,0,0,0.26);
    -moz-box-shadow: 0 1px 22px 3px rgba(0,0,0,0.26);
    box-shadow: 0 1px 22px 3px rgba(0,0,0,0.26);
}

.sortable-ghost {
    opacity: 0;
}


.doneTask {
    background-image: repeating-linear-gradient(
            125deg,
            rgba(255,255,255,.1),
            rgba(255,255,255,.1) 10px,
            rgba(255,255,255,.3) 10px,
            rgba(255,255,255,.3) 20px
    );
}

/*===================================================================================================================*/
/* MODAL WINDOWS */
/*===================================================================================================================*/
/*This class needs to apply to the calendar page, the nav bar and the status bar whenever a task card is opened on calendar page*/
.frostedGlass {
    /*Adding webkit transform to force hardware acceleration to improve performance.*/
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-filter: blur(15px);
}

/*This is the white transparent background behind the modal window. It covers the whole screen*/
.modal-bg{
    display: none;
    position:fixed;
    left:0;right:0;
    top:0;bottom:0;
    z-index:2;
    background-color:rgba(0, 0, 0, 0.1);
}

/*This is the modal window itself (class)*/
.modal{
    position: relative;
    background-color:#F5F5F6;
    display: block;
    z-index: 1;
    margin-left: auto;
    margin-right:auto;
    box-shadow: 0 0 100px 0 rgba(0,0,0,0.4);
}

/*This is the close(x) button*/
.closeX{
    height:30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    display: block;
    position: absolute;
    color: #95CAAD;
    background-color: white;
    font-weight: 300;
    font-size: 2em;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.modalHeading{
    position: absolute;
    color: white;
    opacity: .6;
    font-family: Acme, sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    margin-left: 10%;
    margin-top: 4%;
    cursor: default;
}

/*===================================================================================================================*/
/* MODAL WINDOW FOR VIEW TASK */
/*===================================================================================================================*/

/*This is the modal window for the task (with timer)*/
#taskModal{
    width:700px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -200px;
}

#leftSideTaskCard {
    position: relative;
    height: 100%;
    width: 50%;
    float: left;
}

#rightSideTaskCard {
    display: inline-block;
    position: relative;
    height:100%;
    width: 50%;
    background-color: whitesmoke;
    overflow: hidden;
}

#deleteTaskModal{
    display: none;
    height: 100px;
    width: 250px;
    background-color: white;
    position: absolute;
    left: -86px;
    bottom: -112px;
}

#deleteTaskText{
    font-size: .9em;
    color: #607A93;
    padding-left: 20px;
    margin-top: 10px;
}

#noDeleteTaskButton{
    position: absolute;
    color: white;
    border: none;
    font-family: acme;
    text-transform: uppercase;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    background-color: rgb(149,202,173);
    font-size: 1em;
    bottom: 12px;
    left: 20px;
}

#confirmDeleteTaskButton{
    position: absolute;
    color: white;
    border: none;
    font-family: acme;
    text-transform: uppercase;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    background-color: #BC6771;
    font-size: 1em;
    bottom: 12px;
    right: 20px;
}

#taskCardForm {
    position: absolute;
    height: 70%;
    width: 85%;
    line-height: 5%;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
    -webkit-appearance: none;
}

.openTaskCardFormInput {
    width: 100%;
    background-color: rgba(0,0,0,0);
    border: none;
    font-size: 1em;
    color: white;
    -webkit-appearance: none;
}

.openTaskCardFormInput:focus {
    background-color: rgba(255,255,255,.2);
    outline: none;
}

#taskCardHeadingDiv {
    position: absolute;
    width: 100%;
    height: 20%;
}

#taskSubject{
    color: white;
    opacity: .6;
    font-family: Acme, sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    margin-left: 10%;
    margin-top: 5%;
}

#cardDescription{
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
    wrap: soft;
    font-size: .95em;
    line-height: 1.75em;
    resize:none;
    overflow:scroll;
    min-height: 84px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 1%;
}

#cardDescription::-webkit-scrollbar {       /*hides the scrollbar*/
    display: none;
}

#cardTitle {
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
    font-size: 1.2em;
    resize: none;
}

#timeAndDateDiv{
    width: 100%;
    position: absolute;
    bottom: 20%;
}

#totalTimeStudiedActiveTask{
    display: inline-block;
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
    width: 60%;
    padding: 2%;
    font-size: .85em;
}

#dateLabel{
    display: inline-block;
    width: 30%;
    padding: 2%;
    color: rgba(255, 255, 255, .6);
    font-size: .85em;
}

#timeLabel{
    display: inline-block;
    width: 30%;
    padding: 2%;
    color: rgba(255, 255, 255, .6);
    font-size: .85em;

}

#cardAssignedDate{
    display: inline-block;
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
    width: 60%;
    padding: 2%;
    cursor: pointer;
    font-size: .85em;
}


#closeTaskModal{
    color: white;
    background-color: #95CAAD;
    font-weight: 300;
    font-size: 1.5em;

}


.openTaskCardFormInput::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.openTaskCardFormInput:-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5);
}

.openTaskCardFormInput::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.5);
}

.openTaskCardFormInput:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.binIconTaskcard{
    position: absolute;
    height: 30px;
    width: 23px;
    cursor: pointer;
    bottom: 5%;
    opacity: .7;
}

#completeTask{
    position: absolute;
    bottom: 3%;
    right:0;
    border: none;
    font-family: acme;
    text-transform: uppercase;
    border-radius: 5px;
    width: 50%;
    height: 35px;
    background-color: rgba(255, 255, 255, .7);
    font-size: 1em;
}

#completeTask:hover{
    background-color: rgba(255, 255, 255, 1);
}

.binIconTaskcard:hover{
    opacity: 1;
}

/*===================================================================================================================*/
/* MODAL WINDOW FOR ADD TASK */
/*===================================================================================================================*/

/*This is the modal window for the adding a task*/
#addTaskModal{
    width: 58%;
    height:400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -29%;
    margin-top: -200px;
}

#addTaskForm {
    position: absolute;
    height: 70%;
    width: 80%;
    line-height: 5%;
    left: 0;
    right: 0;
    top: 15px;
    margin: auto;
    -webkit-appearance: none;
    border: transparent;
}

#addTaskCardHeadingDiv{
    position: relative;
    width: 100%;
    height: 20%;
    background-color: #95CAAD;
}

#addTaskCardContentDiv{
    position: relative;
    width: 100%;
    height: 80%;
    background-color: #E9ECEF;
}

.inputField {
    width: 100%;
    margin-bottom: 15px;
    background-color: rgba(255,255,255,.3);
    font-size: 1em;
    -webkit-appearance: none;
    border: none;
    padding: 10px;
    color: #607A93;
}

.inputField:focus {
    background-color: rgba(255,255,255,.6);
    outline: none;
}

#subjectInput{
    width: 50%;
    height: 30px;
    padding: 5px;
    line-height: 1;
    font-size: 1em;
    margin-top: 5%;
    -webkit-appearance: none;
    border-radius: 0;
    background: url(../img/dropDownArrow.png) no-repeat right rgba(255,255,255,.3);
    background-size: 30px 30px;
    cursor: pointer;
}

#titleInput{
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
    font-size: .95em;
    line-height: 1.75em;
    resize:none;
    overflow:hidden;
    width: 100%;
    min-height:50px;
    max-height: 100px;
}

#descriptionInput{
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
    wrap: soft;
    font-size: .95em;
    line-height: 1.75em;
    resize:none;
    overflow:hidden;
    width: 100%;
    min-height: 50px;
    max-height: 200px;
}

#assignedDateInput{
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
    -webkit-appearance: none;
    height: 30px;
    width: 50%;
    cursor: pointer;
}

#submitNewTask{
    color: white;
    border: none;
    font-family: acme;
    text-transform: uppercase;
    border-radius: 5px;
    width: 150px;
    height: 35px;
    background-color: rgb(149,202,173);
    font-size: 1em;
    margin-bottom: 20px;
    margin-right: 6px;
    float: right;
    cursor: pointer;
}

#submitNewTask:hover{
    opacity: .6;
}

.inputField::-webkit-input-placeholder {
    color: rgba(96, 122, 147, 0.5);
}

.inputField::-moz-placeholder { /* Firefox 18- */
    color: rgba(96, 122, 147, 0.5);
}

.inputField::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(96, 122, 147, 0.5);
}

.inputField:-ms-input-placeholder {
    color: rgba(96, 122, 147, 0.5);
}

/*===================================================================================================================*/
/* MODAL WINDOW FOR ADD SUBJECT */
/*===================================================================================================================*/

#addSubjectModal{
    width: 40%;
    height:460px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -20%;
    margin-top: -230px;
}

#addSubjectHeadingDiv{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #95CAAD;
}

#addSubjectContentDiv{
    position: relative;
    width: 100%;
    height: 380px;
    background-color: #E9ECEF;
}

#addSubjectForm {
    position: absolute;
    height: 70%;
    width: 80%;
    left: 0;
    right: 0;
    top: 15px;
    margin: auto;
    -webkit-appearance: none;
    border: transparent;
}

#nameInput{
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
    font-size: .95em;
    line-height: 1.75em;
    resize:none;
    overflow:hidden;
    width: 100%;
    min-height:50px;
    max-height: 100px;
    margin-bottom: 5px;
}

#chooseColour {
    color: #607A93;
    line-height: 1.75em;
    font-size: .95em;
    margin-bottom: 0px;
}

#submitNewSubject{
    position: absolute;
    color: white;
    border: none;
    font-family: acme;
    text-transform: uppercase;
    border-radius: 5px;
    width: 200px;
    height: 35px;
    background-color: rgb(149, 202, 173);
    font-size: 1em;
    bottom: -80px;
    right: 0px;
}

/*===================================================================================================================*/
/* ARE YOU SURE MODAL WINDOW FOR DELETE SUBJECT */
/*===================================================================================================================*/

#areYouSureModal{
    width: 400px;
    height: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -125px;
}

#areYouSureHeadingDiv{
    background-color: rgb(149,202,173);
    width: 100%;
    height: 65px;
    text-align: center;
}

#areYouSureHeading{
    font-family: Acme, sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    opacity: .5;
    color: white;
    line-height: 65px;
}

#areYouSureMessage{
    color: #607A93;
    line-height: 1.75em;
    font-size: .95em;
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 34px;
    margin-bottom: 14px;
}

#confirmDeleteSubjectButton{
    color: white;
    border: none;
    font-family: acme;
    text-transform: uppercase;
    border-radius: 5px;
    width: 140px;
    height: 35px;
    background-color: #BC6771;
    font-size: 1em;
    margin-right: 10%;
    float: right;
}


#noDeleteButton{
    color: white;
    border: none;
    font-family: acme;
    text-transform: uppercase;
    border-radius: 5px;
    width: 140px;
    height: 35px;
    background-color: rgb(149,202,173);
    font-size: 1em;
    margin-left: 10%;
}

/*===============================================================================================*/
/* NO INTERNET MODAL */
/*===============================================================================================*/

#noInternetModal{
    display: none;
    background-color: #1B9BAE;
    width: 400px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -125px;
}

.noInternetRuzo{
    position: relative;
    display: block;
    margin: auto;
    width: 251px;
    height: 204px;
    margin-top: 15px;
}

.noInternetMesssage{
    color: white;
    width: 80%;
    display: block;
    margin: auto;
    position: absolute;
    line-height: 1.5em;
    bottom: 15px;
    left: 0;
    right:0;
    text-align: center;
}

#noInternetPage{
    height: 100vh;
    width: 100%;
    background-color: #1B9BAE;
    z-index: 10;
    position: fixed;
}

#noInternetPageRuzo{
    top: 50%;
    margin-top: -150px;
}

#noInternetPageMessage{
    top: 50%;
    margin-top: 120px;
}
/*===============================================================================================*/
/* SORTABLE DAYS */
/*===============================================================================================*/
/*  GRID OF SEVEN  */
.dayColumn {
    margin-right: 3%;
    margin-left: 3%;
    width: 13.77%;
}

.dayList {
    overflow: auto;
    overflow-y: scroll;              /*creates a scrollbar*/
    width: 100%;
    height: 400px;
}

.dayList::-webkit-scrollbar {       /*hides the scrollbar*/
    display: none;
}

/*This is the pale gray div that the cards appear in*/
.sortable-task-list {
    background-color: rgba(255,255,255,0.4);
    position: relative;
    display: block;
    margin-top: 5px;
    padding: 0;
    list-style-type: none;              /*remove bullet points fron li elements*/
}

/*===============================================================================================*/
/* SEVEN COLUMN GRID */
/*===============================================================================================*/

/*The css below grid below is generated from http://www.responsivegridsystem.com*/
/*It allows you to decide the number of columns you want in a row, and set the margin */
/*you want to use, and then it generates the HTML and css to go with it. It's pretty cool!*/

.section {
    clear: both;
    padding: 0;
    margin: 1%;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% .6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*===============================================================================================*/
/* CALENDAR SLIDER */
/*===============================================================================================*/

#calendarSlider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
}

#calendarWrapper {
    position: relative;
    margin: 0;
    padding: 0;
    left:0;
}

.week {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width:1000px;
    height: 500px;
}

/*===============================================================================================*/
/* SUBJECTS PAGE */
/*===============================================================================================*/

#subjectsPageWrapper {
    margin: auto;
    width: 1000px;
    height: 500px;
    border:3px solid #858585;
}

#subjectsPanel {
    width: 25%;
    float: left;

}

#tasksPerSubject {
    overflow: auto;
    overflow-y: scroll;
    position: relative;
    height: 768px;
    width: 75%;
    float: right;
}

#tasksPerSubject ul{
    list-style-type: none;
}

.subjectHeaderOnSubjectPage {
    display: inline-block;
    font-size: 2.5em;
    margin-left: 7.5%;
    margin-top: 4%;
    font-family: Acme, sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    padding: 0px;
    border: none;
}

.subjectHeaderOnSubjectPage:focus {
    background-color: rgba(255,255,255,.3);
    outline: none;
    border-radius: 2px;
}

.tasksHeaderOnSubjectPage {
    display: inline-block;
    font-size: 1.8em;
    font-family: Acme, sans-serif;
    text-transform: uppercase;
    color: white;
    opacity: .5;
}

.subjectArea {
    overflow: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
    height: 668px;
}

#subjectsList{
    overflow: auto;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    height: 550px;
}

.subjectName {
    padding: 15px;
    border-bottom: 1.5px solid #BCDBE1;
}

.subjectName:last-child {
    margin-bottom: 50px;                /*This makes sure you can scroll down far enough to see the whole name*/
}

#addSubjectButton {
    color: white;
    border: none;
    font-size: 1.2em;
    height: 70px;
    width: 100%;
    text-align: center;
    background-color: #95CAAD;
    -webkit-box-shadow: -1px 13px 21px -10px rgba(154, 140, 154, 0.4);
    -moz-box-shadow: -1px 13px 21px -10px rgba(154, 140, 154, 0.4);
    box-shadow: -1px 13px 21px -10px rgba(154, 140, 154, 0.4);
    cursor: pointer;
    position: relative;
}

#addSubjectButton:hover{
    -webkit-box-shadow: -1px 13px 21px -10px rgba(154, 140, 154, 0.4);
    -moz-box-shadow: -1px 13px 21px -10px rgba(154, 140, 154, 0.4);
    box-shadow: -1px 13px 21px -10px rgba(154, 140, 154, 0.4);
}

.completedTasksButton{
    display: block;
    background-color: transparent;
    color: white;
    font-size: 1.1em;
    width: 250px;
    margin: auto;
    margin-bottom: 50px;
    border: none;
}

/*===================================================================================================================*/
/* TODOTASK CARDS ON SUBJECTS PAGE*/
/*===================================================================================================================*/

.todoWrapper {
    overflow-x: hidden;
    width: 85%;
    margin: auto;
    padding-bottom: 60px;
}

.todoTask {
    position: relative;
    width:100%;
    padding:15px;
    display:inline-block;
    background-color: #f7f7f7;
    margin-bottom: 6px;
}

.todoDate{
    position: absolute;
    right: 45px;
    padding: 0px;
    font-size: 1em;
    opacity: 1;
}

.todoDescription {
    position: absolute;
    width: 40%;
    left: 260px;
    bottom: 15px;
    opacity: .8;
    font-size: .9em;
}

.todoTitle {
    font-size: 1em;
    width: 250px;
    opacity: 1;
}

/*==================================================================================================*/
/* ADD TASKS IN BULK */
/*==================================================================================================*/

.bulkWrapper {
    position: relative;
    width:85%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    height: 50px;
    margin-bottom: 30px;
}

.bulkText {
    position: absolute;
    border: 0;
    width: 100%;
    color: #607A93;
    background-color: rgba(255, 255, 255, .4);
    font-size: 1.0em;
    padding: 15px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.bulkText::-webkit-input-placeholder {color: white; margin-left: 15px;}
.bulkText:-moz-placeholder {color: white;  margin-left: 15px;} /* Firefox 18- */
.bulkText::-moz-placeholder {color: white;  margin-left: 15px;} /* Firefox 19+ */
.bulkText:-ms-input-placeholder {color: white;  margin-left: 15px;}

.bulkSubmit {
    position: absolute;
    right: 8px;
    top: 15%;
    border: none;
    font-family: acme;
    text-transform: uppercase;
    border-radius: 5px;
    width: 20%;
    height: 70%;
    background-color: white;
    font-size: 1em;
    -webkit-tap-highlight-color: transparent;
}

/*==================================================================================================*/
/* COLOUR PICKERS */
/*==================================================================================================*/

#colourPalette {
    position: absolute;
    width: 180px;
    height: 210px;
    background-color: #ffffff;
    display: none;
    padding: 10px;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.4);
}

.point {
    position: absolute;
    top: -25px;
    left: 93px;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid white;
}

#colourPaletteAddSubject{
    position: relative;
    width: 100%;
}

.colourOption {
    width: 100%;
    padding-bottom: 100%;
    box-sizing: border-box;
    cursor: pointer;}


.colourOptionNew {
    width: 100%;
    padding-bottom: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.chosenColour {
    -webkit-box-shadow:inset 0px 0px 0px 5px rgba(255, 255, 255, .4);
    -moz-box-shadow:inset 0px 0px 0px 5px rgba(255, 255, 255, .4);
    box-shadow:inset 0px 0px 0px 5px rgba(255, 255, 255, .4);
}

.usedColour:after {
    font-family: 'FontAwesome';
    color: white;
    content: '';
    font-size: .1em;
    float: right;
    margin-right: 4px;
    margin-top: 10px;
    opacity: .6;
}

.colourMessage {
    display: inline-block;
    color: #607A93;
    line-height: 1.6em;
}

#changeColourButton {
    position: absolute;
    display: block;
    right: 0px;
    left: 0;
    margin: auto;
    color: white;
    border: none;
    font-family: acme;
    text-transform: uppercase;
    border-radius: 5px;
    width: 80%;
    height: 35px;
    background-color: rgb(149, 202, 173);
    font-size: 1em;
    bottom: 20px;

}
/*==================================================================================================*/
/* COLOUR PICKER COLUMNS */
/*==================================================================================================*/

/*  SECTIONS  */
.colourSection {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.colourCol {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}

.colourColChange {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.colourCol:first-child { margin-left: 0; }

/*  GROUPING  */
.colourGroup:before,
.colourGroup:after { content:""; display:table; }
.colourGroup:after { clear:both;}
.colourGroup { zoom:1; /* For IE 6/7 */ }

.span_1_of_6 {
    width: 15.33%;
}

.span_1_of_4 {
    width: 23.8%;
}
/*==================================================================================================*/
/* EDIT & DELETE ICONS */
/*==================================================================================================*/

.editColour {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 5% 10% 5% 5%;
    float: right;
}

.editColour:hover{
    border: 2px solid whitesmoke;
}

.binIcon{
    height: 30px;
    width: 23px;
    display: inline-block;
    cursor: pointer;
    margin-top: 5%;
    margin-right: -2%;
    opacity: .5;
    float: right;
}

.binIcon:hover{
    opacity:1;
}

.pencilIcon{
    display: inline-block;
    cursor: pointer;
    margin-top: 5%;
    height: 30px;
    width: 30px;
    margin-right: 3%;
    opacity: .5;
    float: right;
}

.pencilIcon:hover{
    opacity:1;
}

/*==================================================================================================*/
/* SETTINGS MENU */
/*==================================================================================================*/

#settingsPoint{
    left: 150px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #95CAAD;
}

#mainSettingsHeader{
    background-color: #95CAAD;
    height: 40px;
    color: white;
    font-family: acme, sans-serif;
    font-size: 1em;
    line-height: 40px;
    padding-left: 10px;
    letter-spacing: 1.5px;
}

#settingsMenu {
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 264px;
    background-color: white;
    display: none;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.4);
}

#settingsButtons{
   display: block;
}

#openStudySessionSettings{
    padding: 10px;
    width: 100%;
    border: none;
    color: #1B9BAE;
    font-size: .9em;
    background-color: transparent;
    height: 60px;
    text-align: left;
    line-height: 1.2em;
}

#openShortBreakSettings{
    padding: 10px;
    width: 100%;
    border: none;
    border-top: solid 1px #95CAAD;
    color: #1B9BAE;
    font-size: .9em;
    background-color: transparent;
    height: 60px;
    text-align: left;
    line-height: 1.2em;
}

#openLongBreakSettings{
    padding: 10px;
    width: 100%;
    border: none;
    border-top: solid 1px #95CAAD;
    color: #1B9BAE;
    font-size: .9em;
    background-color: transparent;
    height: 60px;
    text-align: left;
    line-height: 1.2em;
}

#studySessionLengthDisplay{
    color: #95CAAD;
    font-size: .85em;
}

#shortBreakLengthDisplay{
    color: #95CAAD;
    font-size: .85em;
}

#longBreakLengthDisplay{
    color: #95CAAD;
    font-size: .85em;
}

#signoutButton{
    background-color: #48AFBE;
    border: none;
    width: 100%;
    height: 44px;
    text-align: left;
    text-indent: 5px;
}

#lockIcon{
    height: 16px;
    width: 12px;
}

#signoutButton span{
    color: white;
    font-size: 1.3em;
    line-height: 44px;
    margin-left: 8px;
}

#backButtonSettings{
    display: none;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 10px;
    cursor: pointer;
}

#backText {
    color: white;
    position: absolute;
    left: 24px;
    top: -18px;
    opacity: .8;
    font-size: .9em;
    cursor: pointer;
}

#studySessionSettings{
    width: 80%;
    display: none;
    margin: auto;
    margin-top: 15%;
}

#shortBreakSettings{
    width: 80%;
    display: none;
    margin: auto;
    margin-top: 15%;
}

#longBreakSettings{
    width: 80%;
    display: none;
    margin: auto;
    margin-top: 15%;
}

.insideSettingsText{
    color: #1B9BAE;
    width: 100%;
    text-align: center;
}

.timeIntervalInput {
    font-size: 2em;
    font-family: Raleway, "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    width: 80%;
    display:block;
    margin: auto;
    color: #1B9BAE;
    border: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.arrowUp {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #95CAAD;
    display: block;
    margin: auto;
}

.arrowDown {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #95CAAD;
    display: block;
    margin: auto;
}

/*==================================================================================================*/
/* COLOURS THEME 1 */
/*==================================================================================================*/

.theme1Colour1 {color: #F4A460; fill: #F4A460;} /*text and bar fill colour*/
.theme1Colour1.mainColour {background-color: #F4A460;}
.theme1Colour1.secondaryColour {background-color: #F9BF81;}
.theme1Colour1.active {background-color: #F9BF81;} /*active subject button colour*/
.theme1Colour1.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour2 {color: #F3742B; fill: #F3742B;} /*text and bar fill colour*/
.theme1Colour2.mainColour {background-color: #F3742B;}
.theme1Colour2.secondaryColour {background-color: #F6AE85;}
.theme1Colour2.active {background-color: #F6AE85;} /*active subject button colour*/
.theme1Colour2.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour3 {color: #C83A0A; fill: #C83A0A;} /*text and bar fill colour*/
.theme1Colour3.mainColour {background-color: #C83A0A;}
.theme1Colour3.secondaryColour {background-color: #E08262;}
.theme1Colour3.active {background-color: #E08262;} /*active subject button colour*/
.theme1Colour3.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour4 {color: #E7867F; fill: #E7867F;} /*text and bar fill colour*/
.theme1Colour4.mainColour {background-color: #E7867F;}
.theme1Colour4.secondaryColour {background-color: #F1A29C;}
.theme1Colour4.active {background-color: #F1A29C;} /*active subject button colour*/
.theme1Colour4.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour5 {color: #BC6771; fill: #BC6771;} /*text and bar fill colour*/
.theme1Colour5.mainColour {background-color: #BC6771;}
.theme1Colour5.secondaryColour {background-color: #CD9FA4;}
.theme1Colour5.active {background-color: #CD9FA4;} /*active subject button colour*/
.theme1Colour5.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour6 {color: #C9304D; fill: #C9304D;} /*text and bar fill colour*/
.theme1Colour6.mainColour {background-color: #C9304D;}
.theme1Colour6.secondaryColour {background-color: #E1788C;}
.theme1Colour6.active {background-color: #E1788C;} /*active subject button colour*/
.theme1Colour6.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour7 {color: #6F4B6F; fill: #6F4B6F;} /*text and bar fill colour*/
.theme1Colour7.mainColour {background-color: #6F4B6F;}
.theme1Colour7.secondaryColour {background-color: #9C7F9C;}
.theme1Colour7.active {background-color: #9C7F9C;} /*active subject button colour*/
.theme1Colour7.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour8 {color: #607A93; fill: #607A93;}  /*text and bar fill colour*/
.theme1Colour8.mainColour {background-color: #607A93;}
.theme1Colour8.secondaryColour {background-color: #99BED3;}
.theme1Colour8.active {background-color: #99BED3;} /*active subject button colour*/
.theme1Colour8.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour9 {color: #7B9FB6; fill: #A0AFBE;} /*text and bar fill colour*/
.theme1Colour9.mainColour {background-color: #A0AFBE;}
.theme1Colour9.secondaryColour {background-color: #B1C5D2;}
.theme1Colour9.active {background-color: #B1C5D2;} /*active subject button colour*/
.theme1Colour9.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour10 {color: #5DB0BC; fill: #7EC6D5;} /*text and bar fill colour*/
.theme1Colour10.mainColour {background-color: #7EC6D5;}
.theme1Colour10.secondaryColour {background-color: #8ED4DE;}
.theme1Colour10.active {background-color: #8ED4DE;} /*active subject button colour*/
.theme1Colour10.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour11 {color: #31A9A8; fill: #31A9A8;} /*text and bar fill colour*/
.theme1Colour11.mainColour {background-color: #31A9A8;}
.theme1Colour11.secondaryColour {background-color: #77C9C8;}
.theme1Colour11.active {background-color: #77C9C8;} /*active subject button colour*/
.theme1Colour11.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour12 {color: #1E7D8A; fill: #1E7D8A;} /*text and bar fill colour*/
.theme1Colour12.mainColour {background-color: #1E7D8A;}
.theme1Colour12.secondaryColour {background-color: #6CBBC2;}
.theme1Colour12.active {background-color: #6CBBC2;} /*active subject button colour*/
.theme1Colour12.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

/*==================================================================================================*/
/* RUZO FOR WHEN TASK IS COMPLETE */
/*==================================================================================================*/

#doneRuzoDiv{
    position: absolute;
    bottom: 0;
    right:0;
    height: 50%;
    width: 50%;
    z-index: 10;
    overflow: hidden;
    display: none;
}

#doneCircle{
    position: absolute;
    bottom: -100px;
    right: -80px;
    height: 20px;
    width: 20px;
    background-color: #A0AFBE;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

#taskDoneMessage{
    color: white;
    text-transform: uppercase;
    font-family: 'Acme', sans-serif;
    font-size: 2em;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#doneMessageCircle{
    position: absolute;
    bottom: 72px;
    right: 136px;
    height: 0px;
    width: 0px;
    background-color: #add;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: none;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

#bodyDoneRuzo{
    position: absolute;
    bottom: -5px;
    right: -20px;
    height: 239px;
}

#eyesOpenMouthClosedDone{
    position: absolute;
    bottom: 160px;
    right: 64px;
    height: 160px;
    -webkit-transform:rotate(-10deg);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

#eyesClosedMouthClosedDone{
    position: absolute;
    bottom: 160px;
    right: 64px;
    height: 163px;
    -webkit-transform:rotate(-10deg);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

#eyesOpenMouthOpenDone{
    position: absolute;
    bottom: 154px;
    right: 64px;
    height: 166px;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

#tailDoneRuzo2{
    position: absolute;
    bottom: -18px;
    right: -26px;
    height: 128px;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*===============================================================================================*/
/* RUZO ON DONE TASK CARD */
/*===============================================================================================*/

#doneTaskInfo {
    background-color: #95CAAD;
    height: 400px;
}

#totalTimeStudiedDoneTask{
    color: white;
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    line-height: 1.8em;
    width: 70%;
    line-height: 1.8em;
    cursor: default;
}

#jobDoneSign{
    height: 164px;
    width:256px;
    display: block;
    margin: auto;
    padding-top: 90px;
}