*{
    font-family: Raleway, "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    /*prevents selection of text for copying and pasting it*/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*prevent element popout (for disabling appearance of magnifying glass on long press)*/
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    -ms-touch-callout: none;
    touch-callout: none;
}

html {
    padding-bottom: 50px;
    min-height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}


body {
    background-color: #E9ECEF;
    height: 100%;
    margin: 0;
}

input, textarea {
    /*enables selection of text for input elements (overrides disabling declared for the entire app (see * {})*/
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}

/*===================================================================================================================*/
/* NAV BAR, STATUS BAR AND ICONS*/
/*===================================================================================================================*/

#iPadStatusBar {
    height: 20px;
    background-color: #607A93;
    position: relative;            /* Needs position for z-index to work*/
    z-index: 2;                     /* Brings it in front of icon highlights*/
}

#navBar {
    height: 80px;
    background-color: #1B9BAE;

}

.navButton{
    position: relative;
    background-color: transparent;
    border: none;
    height: 80px;
    width: 80px;
    text-align: center;
    color: white;
    font-size: .8em;
    margin-left: 5px;
    line-height: 1.6;
    font-weight: 300;
    z-index: 2;
}

.navIcon{
    height: 40px;
    width: 40px;
    z-index: 2;
}

.iconHighlight{
    height: 90px;
    width: 90px;
    background-color: white;
    opacity: .2;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}

#weekHighlight{
    top: 15px;
    margin-left: 88px;
}

#subjectsHighlight{
    top: 15px;
    margin-left: 0;
    display: none;
}

#profileButton{
    float: right;

}

#signoutButton{
    float: right;

}

#settingsButton{
    float: right;
}

/*===================================================================================================================*/
/*HEADINGS & CONTROLS*/
/*===================================================================================================================*/
/*to get rid of the blue halo around buttons when they are pressed*/
button:focus {outline:0;}
input:focus {outline:0;}

#calendarControls{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
    padding-top: 35px;
}

#control_prev{
    float: left;
    height: 37px;
    width: 29px;
    border: none;
}

#control_next{
    float: right;
    height: 37px;
    width: 29px;
    border: none;
}

/*#control_prev:hover {*/
    /*opacity: .2;*/
/*}*/

/*#control_next:hover {*/
    /*opacity: .2;*/
/*}*/

.addTaskFromDate{
    color: #607A93;
    border: none;
    font-size: .8em;
    height: 44px;
    background-color: rgba(255,255,255,0.4);
    width: 100%;
    text-align: left;
    margin-bottom: -5px;
}

#weekHeadingOnCalendar{
    font-family: acme, sans-serif;
    color: #607A93;
    font-weight: 400;
    font-size: 2em;
    text-align:center;
    display: inline;
}

.dayHeadingOnCalendar{
    color: white;
    font-family: 'Acme', sans-serif;
    font-size: 1.2em;
    margin: auto;
    padding: 1%;
    text-transform: uppercase;
}

.dateOnCalendarDay{
    color: white;
    font-family: Acme, sans-serif;
    opacity: .5;
    font-size: .8em;
    padding: 5%;
    text-transform: uppercase;
}

.dayDateDiv{
    width: 100%;
    background-color: #31A9A8;
    padding: 3%;
}



/*===================================================================================================================*/
/*TASK CARDS*/
/*===================================================================================================================*/

.cardTask {
    font-weight: normal;
    border-radius: 3px;
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    position: relative;
    width: 100%;
    height:65px;
    margin-bottom: 7px;             /*create a margin between cards*/
    cursor: -webkit-grab;
    -webkit-box-shadow: -1px 13px 21px -10px rgba(163,148,163,0.25);
    -moz-box-shadow: -1px 13px 21px -10px rgba(163,148,163,0.25);
    box-shadow: -1px 13px 21px -10px rgba(163,148,163,0.25);
}

.cardText {
    font-family: 'Raleway', sans-serif;
    font-size: .8em;
    color: white;
    margin: 5%;
    line-height: 1.5;
}

/*This is the dragged image*/
.dragged-item .cardTask {
    width: 110%;
    height: 110%;
    opacity: 1;
    -webkit-transform: rotate(3deg); /* Safari */
    transform: rotate(3deg);
    -webkit-box-shadow: 0 1px 22px 3px rgba(0,0,0,0.26);
    -moz-box-shadow: 0 1px 22px 3px rgba(0,0,0,0.26);
    box-shadow: 0 1px 22px 3px rgba(0,0,0,0.26);
}

.sortable-ghost {
    opacity: 0;
}

.doneTask {
    background-image: repeating-linear-gradient(
            125deg,
            rgba(255,255,255,.1),
            rgba(255,255,255,.1) 10px,
            rgba(255,255,255,.3) 10px,
            rgba(255,255,255,.3) 20px
    );
}


/*===================================================================================================================*/
/*MODAL WINDOWS*/
/*===================================================================================================================*/

/*This is the greyed-out background behind the modal window. It covers the whole screen*/
.modal-bg{
    display: none;
    position:fixed;
    left:0;right:0;
    top:0;bottom:0;
    z-index:2;
    background-color:rgba(50,50,50,0.5);
}

/*This is the modal window itself (class)*/
.modal{
    position: relative;
    background-color:#F5F5F6;
    display: block;
    z-index: 1;
    margin-left: auto;
    margin-right:auto;
    margin-top: 10%;
    box-shadow:0 0 10px 0 rgba(0,0,0,0.3);
}

/*This is the modal window for the task (with timer)*/
#taskModal{
    width:58%;
    height:52%;

}

/*This is the modal window for the adding a task*/
#addTaskModal{
    width:50%;
    height:50%;
    margin-top: 10%;
}

/*This is the close(x) button*/
.closeX{
    display: block;
    float: right;
    color:darkslategray;
    font-size: 2em;
    margin-right: 2%;
    margin-top: 2%;
    padding: 1%;
}

.modalHeading{
    margin-left: 5%;
    display: block;
    color:darkslategray;
    font-size: 2em;
    padding: 1%;
}

#leftDivTaskCard{
    position: relative;
    background-color: blueviolet;
    height: 100%;
    width: 50%;
    float: left;
}

#addTaskForm {
    position: absolute;
    top: 20px;
}

#taskCardForm {
    position: absolute;
    height: 70%;
    width: 80%;
    line-height: 5%;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
    -webkit-appearance: none;

}

.openTaskCardFormInput {
    width: 100%;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0);
    border: none;
    font-size: 1em;
    color: white;
    -webkit-appearance: none;
}

.openTaskCardFormInput:focus {
    background-color: rgba(255,255,255,.3);
    outline: none;
}

.taskCardHeadingDiv {
    position: absolute;
    width: 100%;
    background-color: #330033;
    height: 20%;
}

#taskSubject{
    color: white;
    opacity: .6;
    font-family: Acme, sans-serif;
    text-transform: uppercase;
    font-size: 2em;
}

#taskDescription{
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
    wrap: soft;
    font-size: .95em;
    line-height: 1.75em;
    resize:none;
    overflow:hidden;
    min-height: 50px;
    max-height: 200px;
}

#taskTitle{
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
    font-size: 1.2em;
    line-height: 1.6em;
    resize:none;
    overflow:hidden;
    min-height:50px;
    max-height: 100px;
}

#taskAssignedDate{
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
}
/*===============================================================================================*/
/*SORTABLE DAYS / */
/*===============================================================================================*/
/*  GRID OF SEVEN  */
.dayColumn {
    margin-right: 3%;
    margin-left: 3%;
    width: 13.77%;
}

.dayList {
    overflow-y: scroll;              /*creates a scrollbar*/
    width: 100%;
    height: 400px;
}


.dayList::-webkit-scrollbar {       /*hides the scrollbar*/
    display: none;
}

/*This is the pale gray div that the cards appear in*/
.sortable-task-list {
    background-color: rgba(255,255,255,0.4);
    position: relative;
    display: block;
    margin-top: 5px;
    padding: 0;
    list-style-type: none;              /*remove bullet points fron li elements*/
}

/*===============================================================================================*/
/*SEVEN COLUMN GRID / */
/*===============================================================================================*/

/*The css below grid below is generated from http://www.responsivegridsystem.com*/
/*It allows you to decide the number of columns you want in a row, and set the margin */
/*you want to use, and then it generates the HTML and css to go with it. It's pretty cool!*/

.section {
    clear: both;
    padding: 0;
    margin: 1%;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% .6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*===============================================================================================*/
/*COLUMNS FOR DAYS */
/*===============================================================================================*/


/*===============================================================================================*/
/*CALENDAR SLIDER/ */
/*===============================================================================================*/

#calendarSlider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
}

#calendarWrapper {
    position: relative;
    margin: 0;
    padding: 0;
    left:0;
}

.week {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width:1000px;
    height: 500px;
}


/*===============================================================================================*/
/*SUBJECTS PAGE/ */
/*===============================================================================================*/

#subjectsPageWrapper {
    margin: auto;
    width: 1000px;
    height: 500px;
    border:3px solid #858585;
}

#subjectsPanel {
    width: 30%;
    float: left;
}

#tasksPerSubject {
    width: 65%;
    float: left;
}

#tasksPerSubject ul{
    list-style-type: none;
}

#mySubjectsTitle {
    text-align: center;
    background-color: #aaaaaa;
    padding: 20px;
}

.subjectArea {
    display: none;
}

#defaultSubjectAreaMessage {
    text-align: center;
}

.subjectName {
    padding: 20px;
    border:1px solid #858585;
}

.errorMessage {
    color: red;
}

.colourOption {
    float: left;
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
}

#colourPalette {
    width: 500px;
    height: 170px;
    background-color: #ffffff;
    display: none;
}

.chosenColour {
    border:2px solid #fefe6a;
}

.usedColour {
    opacity: 0.2;
}

.editColour {
    width: 30px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
}


/*==================================================================================================*/
/*COLOURS THEME 1*/
/*==================================================================================================*/

.theme1Colour1 {color: #F4A460;} /*text colour*/
.theme1Colour1.mainColour {background-color: #F4A460;}
.theme1Colour1.secondaryColour {background-color: #EEC58F;}
.theme1Colour1.active {background-color: #EEC58F;} /*active subject button colour*/
.theme1Colour1.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour2 {color: #F3742B;} /*text colour*/
.theme1Colour2.mainColour {background-color: #F3742B;}
.theme1Colour2.secondaryColour {background-color: #F6AE85;}
.theme1Colour2.active {background-color: #F6AE85;} /*active subject button colour*/
.theme1Colour2.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour3 {color: #C83A0A;} /*text colour*/
.theme1Colour3.mainColour {background-color: #C83A0A;}
.theme1Colour3.secondaryColour {background-color: #E08262;}
.theme1Colour3.active {background-color: #E08262;} /*active subject button colour*/
.theme1Colour3.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour4 {color: #E7867F;} /*text colour*/
.theme1Colour4.mainColour {background-color: #E7867F;}
.theme1Colour4.secondaryColour {background-color: #F1A29C;}
.theme1Colour4.active {background-color: #F1A29C;} /*active subject button colour*/
.theme1Colour4.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour5 {color: #BC6771;} /*text colour*/
.theme1Colour5.mainColour {background-color: #BC6771;}
.theme1Colour5.secondaryColour {background-color: #CD9FA4;}
.theme1Colour5.active {background-color: #CD9FA4;} /*active subject button colour*/
.theme1Colour5.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour6 {color: #C9304D;} /*text colour*/
.theme1Colour6.mainColour {background-color: #C9304D;}
.theme1Colour6.secondaryColour {background-color: #E1788C;}
.theme1Colour6.active {background-color: #E1788C;} /*active subject button colour*/
.theme1Colour6.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour7 {color: #6F4B6F;} /*text colour*/
.theme1Colour7.mainColour {background-color: #6F4B6F;}
.theme1Colour7.secondaryColour {background-color: #9C7F9C;}
.theme1Colour7.active {background-color: #9C7F9C;} /*active subject button colour*/
.theme1Colour7.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour8 {color: #607A93} /*text colour*/
.theme1Colour8.mainColour {background-color: #607A93;}
.theme1Colour8.secondaryColour {background-color: #869CB1;}
.theme1Colour8.active {background-color: #869CB1;} /*active subject button colour*/
.theme1Colour8.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour9 {color: #A0AFBE;} /*text colour*/
.theme1Colour9.mainColour {background-color: #A0AFBE;}
.theme1Colour9.secondaryColour {background-color: #C6D2DD;}
.theme1Colour9.active {background-color: #C6D2DD;} /*active subject button colour*/
.theme1Colour9.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour10 {color: #7EC6D5;} /*text colour*/
.theme1Colour10.mainColour {background-color: #7EC6D5;}
.theme1Colour10.secondaryColour {background-color: #BCDBE1;}
.theme1Colour10.active {background-color: #BCDBE1;} /*active subject button colour*/
.theme1Colour10.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour11 {color: #31A9A8;} /*text colour*/
.theme1Colour11.mainColour {background-color: #31A9A8;}
.theme1Colour11.secondaryColour {background-color: #77C9C8;}
.theme1Colour11.active {background-color: #77C9C8;} /*active subject button colour*/
.theme1Colour11.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour12 {color: #1E7D8A;} /*text colour*/
.theme1Colour12.mainColour {background-color: #1E7D8A;}
.theme1Colour12.secondaryColour {background-color: #97C7CD;}
.theme1Colour12.active {background-color: #97C7CD;} /*active subject button colour*/
.theme1Colour12.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/