*{
    font-family: Raleway, "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    /*prevents selection of text for copying and pasting it*/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*prevent element popout (for disabling appearance of magnifying glass on long press)*/
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    -ms-touch-callout: none;
    touch-callout: none;
    /*prevents the grey highlight when anything is tapped on the iPad*/
    -webkit-tap-highlight-color: transparent;
}

/*html {*/
/*height: 100%;*/
/*box-sizing: border-box;*/
/*-moz-box-sizing: border-box;*/


/*}*/


body {
    background-color: #E9ECEF;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

input, textarea {
    /*enables selection of text for input elements (overrides disabling declared for the entire app (see * {})*/
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}


/*===================================================================================================================*/
/* NAV BAR, STATUS BAR AND ICONS */
/*===================================================================================================================*/

#iPadStatusBar {
    height: 20px;
    background-color: #607A93;
    position: relative;            /* Needs position for z-index to work*/
    z-index: 2;                     /* Brings it in front of icon highlights*/
}

#navBar {
    height: 80px;
    background-color: #1B9BAE;

}

.navButton{
    position: relative;
    background-color: transparent;
    border: none;
    height: 80px;
    width: 80px;
    text-align: center;
    color: white;
    font-size: .8em;
    margin-left: 5px;
    line-height: 1.6;
    font-weight: 300;
    z-index: 2;
}

.navIcon{
    height: 40px;
    width: 40px;
    z-index: 2;
}

.iconHighlight{
    height: 90px;
    width: 90px;
    background-color: white;
    opacity: .2;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}

#weekHighlight{
    top: 15px;
    margin-left: 88px;
}

#subjectsHighlight{
    top: 15px;
    margin-left: 0;
    display: none;
}

#profileButton{
    float: right;

}

#signoutButton{
    float: right;

}

#settingsButton{
    float: right;
}

/*===================================================================================================================*/
/* HEADINGS & CONTROLS */
/*===================================================================================================================*/
/*to get rid of the blue halo around buttons when they are pressed*/
button:focus {outline:0;}
input:focus {outline:0;}

#calendarControls{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
    padding-top: 35px;
}

#control_prev{
    float: left;
    height: 37px;
    width: 29px;
    border: none;
}

#control_next{
    float: right;
    height: 37px;
    width: 29px;
    border: none;
}

/*#control_prev:hover {*/
/*opacity: .2;*/
/*}*/

/*#control_next:hover {*/
/*opacity: .2;*/
/*}*/

.addTaskFromCalendar {
    color: #607A93;
    border: none;
    font-size: .8em;
    height: 44px;
    background-color: rgba(255,255,255,0.4);
    width: 100%;
    text-align: left;
    margin-bottom: -5px;
}

#weekHeadingOnCalendar{
    font-family: acme, sans-serif;
    color: #607A93;
    font-weight: 400;
    font-size: 2em;
    text-align:center;
    display: inline;
}

.dayHeadingOnCalendar{
    color: white;
    font-family: 'Acme', sans-serif;
    font-size: 1.2em;
    margin: auto;
    padding: 1%;
    text-transform: uppercase;
}

.dateOnCalendarDay{
    color: white;
    font-family: Acme, sans-serif;
    opacity: .5;
    font-size: .8em;
    padding: 5%;
    text-transform: uppercase;
}

.dayDateDiv{
    width: 100%;
    background-color: #31A9A8;
    padding: 3%;
}



/*===================================================================================================================*/
/* TASK CARDS */
/*===================================================================================================================*/

.cardTask {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    font-weight: normal;
    border-radius: 3px;
    align-items: center;
    position: relative;
    width: 135px;
    height:65px;
    margin-bottom: 7px;             /*create a margin between cards*/
    cursor: -webkit-grab;
    -webkit-box-shadow: -1px 13px 21px -10px rgba(163,148,163,0.25);
    -moz-box-shadow: -1px 13px 21px -10px rgba(163,148,163,0.25);
    box-shadow: -1px 13px 21px -10px rgba(163,148,163,0.25);
}

.cardText {
    font-family: 'Raleway', sans-serif;
    font-size: .8em;
    color: white;
    margin: 5%;
    line-height: 1.5;
}

/*This is the dragged image*/
.dragged-item .cardTask {
    width: 140px;
    height: 70px;
    opacity: 1;
    -webkit-transform: rotate(3deg); /* Safari */
    transform: rotate(3deg);
    -webkit-box-shadow: 0 1px 22px 3px rgba(0,0,0,0.26);
    -moz-box-shadow: 0 1px 22px 3px rgba(0,0,0,0.26);
    box-shadow: 0 1px 22px 3px rgba(0,0,0,0.26);
}

.sortable-chosen{
    opacity: .8;
    -webkit-transform: rotate(2deg); /* Safari */
    transform: rotate(3deg);
    -webkit-box-shadow: 0 1px 22px 3px rgba(0,0,0,0.26);
    -moz-box-shadow: 0 1px 22px 3px rgba(0,0,0,0.26);
    box-shadow: 0 1px 22px 3px rgba(0,0,0,0.26);

}

.sortable-ghost {
    opacity: 0;
}


.doneTask {
    background-image: repeating-linear-gradient(
            125deg,
            rgba(255,255,255,.1),
            rgba(255,255,255,.1) 10px,
            rgba(255,255,255,.3) 10px,
            rgba(255,255,255,.3) 20px
    );
}

/*.sortable-task-list li {*/
    /*background-color: rgba(0,0,0,0);*/
    /*border-radius: 3px;*/
/*}*/



/*===================================================================================================================*/
/* TODOTASK CARDS */
/*===================================================================================================================*/

.todoWrapper {
    overflow-x: hidden;
    width: 80%;
    margin: auto;
    padding-bottom: 60px;
}

.todoTask {
    width:100%;
    padding:15px;
    display:inline-block;
    background-color: #f7f7f7;
    transition:all linear 0.15s;
    font-weight: normal;
    margin-bottom: 10px;
}

/*===================================================================================================================*/
/* MODAL WINDOWS */
/*===================================================================================================================*/
/*This class needs to apply to the calendar page, the nav bar and the status bar whenever a task card is opened on calendar page*/
.frostedGlass {
    -webkit-filter: blur(15px);
    -webket-transition: 0.4s ease;
}

/*This is the white transparent background behind the modal window. It covers the whole screen*/
.modal-bg{
    display: none;
    position:fixed;
    left:0;right:0;
    top:0;bottom:0;
    z-index:2;
    background-color:rgba(0, 0, 0, 0.1);
}

/*This is the modal window itself (class)*/
.modal{
    position: relative;
    background-color:#F5F5F6;
    display: block;
    z-index: 1;
    margin-left: auto;
    margin-right:auto;
    margin-top: 10%;
    box-shadow: 0 0 100px 0 rgba(0,0,0,0.4);
}

/*This is the close(x) button*/
.closeX{
    display: block;
    position: absolute;
    color: white;
    opacity: .5;
    font-weight: 300;
    font-size: 2em;
    right: 10px;
    top: 0;
}

.modalHeading{
    position: absolute;
    color: white;
    opacity: .6;
    font-family: Acme, sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    margin-left: 10%;
    margin-top: 4%;
}

/*===================================================================================================================*/
/* MODAL WINDOW FOR VIEW TASK */
/*===================================================================================================================*/

/*This is the modal window for the task (with timer)*/
#taskModal{
    width:58%;
    height: 400px;
}

#leftSideTaskCard {
    position: relative;
    height: 100%;
    width: 50%;
    float: left;
}

#rightSideTaskCard {
    display: inline-block;
    position: relative;
    height:100%;
    width: 50%;
    background-color: whitesmoke;
}

#taskCardForm {
    position: absolute;
    height: 70%;
    width: 80%;
    line-height: 5%;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
    -webkit-appearance: none;
}

.openTaskCardFormInput {
    width: 100%;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0);
    border: none;
    font-size: 1em;
    color: white;
    -webkit-appearance: none;
}

.openTaskCardFormInput:focus {
    background-color: rgba(255,255,255,.2);
    outline: none;
}

#taskCardHeadingDiv {
    position: absolute;
    width: 100%;
    height: 20%;
}

#taskSubject{
    color: white;
    opacity: .6;
    font-family: Acme, sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    margin-left: 10%;
    margin-top: 5%;
}

#cardDescription{
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
    wrap: soft;
    font-size: .95em;
    line-height: 1.75em;
    resize:none;
    overflow:hidden;
    min-height: 50px;
    max-height: 200px;
}

#cardTitle{
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
    font-size: 1.2em;
    line-height: 1.6em;
    resize:none;
    overflow:hidden;
    min-height:50px;
    max-height: 100px;
}


#cardAssignedDate{
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
}

#closeTaskModal{
    display: block;
    position: absolute;
    color: lightgray;
    font-weight: 300;
    font-size: 2em;
    right: 10px;
    top: 0px;
}


.openTaskCardFormInput::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.openTaskCardFormInput:-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5);
}

.openTaskCardFormInput::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.5);
}

.openTaskCardFormInput:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
/*===================================================================================================================*/
/* MODAL WINDOW FOR ADD TASK */
/*===================================================================================================================*/

/*This is the modal window for the adding a task*/
#addTaskModal{
    width: 58%;
    height:400px;
}


#addTaskForm {
    position: absolute;
    height: 70%;
    width: 80%;
    line-height: 5%;
    left: 0;
    right: 0;
    top: 15px;
    margin: auto;
    -webkit-appearance: none;
    border: transparent;
}

#addTaskCardHeadingDiv{
    position: relative;
    width: 100%;
    height: 20%;
    background-color: #95CAAD;
}

#addTaskCardContentDiv{
    position: relative;
    width: 100%;
    height: 80%;
    background-color: #E9ECEF;
}


.inputField {
    width: 100%;
    margin-bottom: 15px;
    background-color: rgba(255,255,255,.3);
    font-size: 1em;
    -webkit-appearance: none;
    border: none;
    padding: 10px;
    color: #607A93;

}

.inputField:focus {
    background-color: rgba(255,255,255,.6);
    outline: none;
}

#subjectInput{
    width: 50%;
    height: 30px;
    padding: 5px;
    line-height: 1;
    font-size: 1em;
    margin-top: 5%;
    -webkit-appearance: none;
    border-radius: 0;
    background: url(../img/dropDownArrow.png) no-repeat right rgba(255,255,255,.3);
    background-size: 30px 30px;
}



#titleInput{
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
    font-size: .95em;
    line-height: 1.75em;
    resize:none;
    overflow:hidden;
    width: 100%;
    min-height:50px;
    max-height: 100px;
}

#descriptionInput{
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
    wrap: soft;
    font-size: .95em;
    line-height: 1.75em;
    resize:none;
    overflow:hidden;
    width: 100%;
    min-height: 50px;
    max-height: 200px;
}

#assignedDateInput{
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
    -webkit-appearance: none;
    height: 30px;
    width: 50%;
}


#submitNewTask{
    color: white;
    border: none;
    font-family: acme;
    text-transform: uppercase;
    border-radius: 5px;
    width: 150px;
    height: 35px;
    background-color: rgb(149,202,173);
    font-size: 1em;
    margin-bottom: 20px;
    margin-right: 6px;
    float: right;
}

.inputField::-webkit-input-placeholder {
    color: rgba(96, 122, 147, 0.5);
}

.inputField::-moz-placeholder { /* Firefox 18- */
    color: rgba(96, 122, 147, 0.5);
}

.inputField::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(96, 122, 147, 0.5);
}

.inputField:-ms-input-placeholder {
    color: rgba(96, 122, 147, 0.5);
}

/*===================================================================================================================*/
/* MODAL WINDOW FOR ADD SUBJECT */
/*===================================================================================================================*/

#addSubjectModal{
    width: 40%;
    height:460px;
}

#addSubjectHeadingDiv{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #95CAAD;
}

#addSubjectContentDiv{
    position: relative;
    width: 100%;
    height: 380px;
    background-color: #E9ECEF;
}

#addSubjectForm {
    position: absolute;
    height: 70%;
    width: 80%;
    left: 0;
    right: 0;
    top: 15px;
    margin: auto;
    -webkit-appearance: none;
    border: transparent;
}


#nameInput{
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
    font-size: .95em;
    line-height: 1.75em;
    resize:none;
    overflow:hidden;
    width: 100%;
    min-height:50px;
    max-height: 100px;
    margin-bottom: 5px;
}

#chooseColour {
    color: #607A93;
    line-height: 1.75em;
    font-size: .95em;
    margin-bottom: 0px;
}

#submitNewSubject{
    position: absolute;
    color: white;
    border: none;
    font-family: acme;
    text-transform: uppercase;
    border-radius: 5px;
    width: 200px;
    height: 35px;
    background-color: rgb(149, 202, 173);
    font-size: 1em;
    bottom: -80px;
    right: 0px;
}

/*===============================================================================================*/
/* SORTABLE DAYS */
/*===============================================================================================*/
/*  GRID OF SEVEN  */
.dayColumn {
    margin-right: 3%;
    margin-left: 3%;
    width: 13.77%;
}

.dayList {
    overflow: auto;
    overflow-y: scroll;              /*creates a scrollbar*/
    width: 100%;
    height: 400px;
}


.dayList::-webkit-scrollbar {       /*hides the scrollbar*/
    display: none;
}

/*This is the pale gray div that the cards appear in*/
.sortable-task-list {
    background-color: rgba(255,255,255,0.4);
    position: relative;
    display: block;
    margin-top: 5px;
    padding: 0;
    list-style-type: none;              /*remove bullet points fron li elements*/
}


/*===============================================================================================*/
/* SEVEN COLUMN GRID */
/*===============================================================================================*/

/*The css below grid below is generated from http://www.responsivegridsystem.com*/
/*It allows you to decide the number of columns you want in a row, and set the margin */
/*you want to use, and then it generates the HTML and css to go with it. It's pretty cool!*/

.section {
    clear: both;
    padding: 0;
    margin: 1%;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% .6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*===============================================================================================*/
/* COLUMNS FOR DAYS */
/*===============================================================================================*/


/*===============================================================================================*/
/* CALENDAR SLIDER */
/*===============================================================================================*/

#calendarSlider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
}

#calendarWrapper {
    position: relative;
    margin: 0;
    padding: 0;
    left:0;
}

.week {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width:1000px;
    height: 500px;
}


/*===============================================================================================*/
/* SUBJECTS PAGE */
/*===============================================================================================*/

#subjectsPageWrapper {
    margin: auto;
    width: 1000px;
    height: 500px;
    border:3px solid #858585;
}

#subjectsPanel {
    width: 25%;
    float: left;

}

#tasksPerSubject {
    overflow: auto;
    overflow-y: scroll;
    position: relative;
    height: 768px;
    width: 75%;
    float: right;
}

#tasksPerSubject ul{
    list-style-type: none;
}

#mySubjectsTitle {
    color: white;
    text-align: center;
    background-color: #95CAAD;
    padding: 20px;
}

.subjectHeaderOnSubjectPage {
    display: inline-block;
    font-size: 2.5em;
    margin-left: 10%;
    font-family: Acme, sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
}

.tasksHeaderOnSubjectPage {
    display: inline-block;
    font-size: 1.8em;
    margin-left: 1%;
    font-family: Acme, sans-serif;
    text-transform: uppercase;
    color: white;
    opacity: .5;
}

.subjectArea {
    overflow: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
    height: 668px;
}

#subjectsList{
    overflow: auto;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    height: 550px;

}

#defaultSubjectAreaMessage {
    text-align: center;
    background-color: #BCDBE1;
}

.subjectName {
    padding: 15px;
    border-bottom: 1.5px solid #BCDBE1;
}

.subjectName:last-child {
    margin-bottom: 50px;                /*This makes sure you can scroll down far enough to see the whole name*/
}

#addSubjectButton {
    color: #607A93;
    border: none;
    font-size: 1em;
    height: 50px;
    background-color: rgba(255,255,255,0.4);
    width: 100%;
    text-align: center;
    border-bottom: 1.5px solid #BCDBE1;
}
.completedTasksButton{
    display: block;
    background-color: transparent;
    color: white;
    font-size: 1.2em;
    width: 250px;
    margin: auto;
    margin-bottom: 50px;
    border: none;
}

.errorMessage {
    color: red;
}


/*==================================================================================================*/
/* ADD TASKS IN BULK */
/*==================================================================================================*/

.bulkWrapper {
    background-color: white;
    width:80%;
    margin: 3% auto;
}

.bulkText {
    width: 60%;
    height: 50px;
    padding: 3px 0px;
    border: 0;
    color: #1E7D8A;
    font-size: 1.0em;
    padding-left: 15px;
}

.bulkText::-webkit-input-placeholder {color: rgba(245, 68, 168, 0.5);}
.bulkText:-moz-placeholder {color: rgba(245, 68, 168, 0.5);} /* Firefox 18- */
.bulkText::-moz-placeholder {color: rgba(245, 68, 168, 0.5);} /* Firefox 19+ */
.bulkText:-ms-input-placeholder {color: rgba(245, 68, 168, 0.5);}

.bulkDate {
    border: 0;
    color: #1E7D8A;
    font-size: 1.0em;
    padding-left: 15px;
}

.calendarImg {
    padding-right: 20px;
    vertical-align:middle;
    cursor:pointer;
}

.bulkSubmit {
    /*padding-right: 20px;*/
}

/*==================================================================================================*/
/* COLOUR PICKERS */
/*==================================================================================================*/

#colourPalette {
    width: 180px;
    height: 210px;
    background-color: #ffffff;
    display: none;
}

#colourPaletteAddSubject{
    position: relative;
    width: 100%;
}

/*.colourOption {*/
    /*position: relative;*/
    /*float: left;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*margin: 5px;*/
    /*cursor: pointer;*/
/*}*/


.colourOptionNew {
    width: 100%;
    padding-bottom: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.chosenColour {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 2px solid white;
}

.usedColour:after {
    font-family: 'FontAwesome';
    color: white;
    content: '';
    font-size: .1em;
    float: right;
    margin-right: 4px;
    margin-top: 10px;
    opacity: .6;
}

.colourMessage {
    display: inline-block;
    color: #607A93;
    line-height: 1.75em;
}
/*==================================================================================================*/
/* COLOUR PICKER COLUMNS */
/*==================================================================================================*/

/*  SECTIONS  */
.colourSection {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.colourCol {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.colourCol:first-child { margin-left: 0; }

/*  GROUPING  */
.colourGroup:before,
.colourGroup:after { content:""; display:table; }
.colourGroup:after { clear:both;}
.colourGroup { zoom:1; /* For IE 6/7 */ }

.span_1_of_6 {
    width: 15.33%;
}

/*==================================================================================================*/
/* EDIT & DELETE ICONS */
/*==================================================================================================*/

.editColour {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 5% 10% 5% 5%;
    float: right;
}

.editColour:hover{
    border: 2px solid whitesmoke;
}

.binIcon{
    height: 30px;
    width: 23px;
    display: inline-block;
    cursor: pointer;
    margin-top: 5%;
    margin-right: -2%;
    opacity: .5;
    float: right;
}


.binIcon:hover{
    opacity:1;
}

.pencilIcon{
    display: inline-block;
    cursor: pointer;
    margin-top: 5%;
    height: 30px;
    width: 30px;
    margin-right: 3%;
    opacity: .5;
    float: right;
}

.pencilIcon:hover{
    opacity:1;
}




/*==================================================================================================*/
/* COLOURS THEME 1 */
/*==================================================================================================*/

.theme1Colour1 {color: #F4A460;} /*text colour*/
.theme1Colour1.mainColour {background-color: #F4A460;}
.theme1Colour1.secondaryColour {background-color: #EEC58F;}
.theme1Colour1.active {background-color: #EEC58F;} /*active subject button colour*/
.theme1Colour1.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour2 {color: #F3742B;} /*text colour*/
.theme1Colour2.mainColour {background-color: #F3742B;}
.theme1Colour2.secondaryColour {background-color: #F6AE85;}
.theme1Colour2.active {background-color: #F6AE85;} /*active subject button colour*/
.theme1Colour2.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour3 {color: #C83A0A;} /*text colour*/
.theme1Colour3.mainColour {background-color: #C83A0A;}
.theme1Colour3.secondaryColour {background-color: #E08262;}
.theme1Colour3.active {background-color: #E08262;} /*active subject button colour*/
.theme1Colour3.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour4 {color: #E7867F;} /*text colour*/
.theme1Colour4.mainColour {background-color: #E7867F;}
.theme1Colour4.secondaryColour {background-color: #F1A29C;}
.theme1Colour4.active {background-color: #F1A29C;} /*active subject button colour*/
.theme1Colour4.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour5 {color: #BC6771;} /*text colour*/
.theme1Colour5.mainColour {background-color: #BC6771;}
.theme1Colour5.secondaryColour {background-color: #CD9FA4;}
.theme1Colour5.active {background-color: #CD9FA4;} /*active subject button colour*/
.theme1Colour5.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour6 {color: #C9304D;} /*text colour*/
.theme1Colour6.mainColour {background-color: #C9304D;}
.theme1Colour6.secondaryColour {background-color: #E1788C;}
.theme1Colour6.active {background-color: #E1788C;} /*active subject button colour*/
.theme1Colour6.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour7 {color: #6F4B6F;} /*text colour*/
.theme1Colour7.mainColour {background-color: #6F4B6F;}
.theme1Colour7.secondaryColour {background-color: #9C7F9C;}
.theme1Colour7.active {background-color: #9C7F9C;} /*active subject button colour*/
.theme1Colour7.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour8 {color: #607A93} /*text colour*/
.theme1Colour8.mainColour {background-color: #607A93;}
.theme1Colour8.secondaryColour {background-color: #baccd9;}
.theme1Colour8.active {background-color: #baccd9;} /*active subject button colour*/
.theme1Colour8.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour9 {color: #A0AFBE;} /*text colour*/
.theme1Colour9.mainColour {background-color: #A0AFBE;}
.theme1Colour9.secondaryColour {background-color: #C6D2DD;}
.theme1Colour9.active {background-color: #C6D2DD;} /*active subject button colour*/
.theme1Colour9.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour10 {color: #7EC6D5;} /*text colour*/
.theme1Colour10.mainColour {background-color: #7EC6D5;}
.theme1Colour10.secondaryColour {background-color: #BCDBE1;}
.theme1Colour10.active {background-color: #BCDBE1;} /*active subject button colour*/
.theme1Colour10.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour11 {color: #31A9A8;} /*text colour*/
.theme1Colour11.mainColour {background-color: #31A9A8;}
.theme1Colour11.secondaryColour {background-color: #77C9C8;}
.theme1Colour11.active {background-color: #77C9C8;} /*active subject button colour*/
.theme1Colour11.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/

.theme1Colour12 {color: #1E7D8A;} /*text colour*/
.theme1Colour12.mainColour {background-color: #1E7D8A;}
.theme1Colour12.secondaryColour {background-color: #97C7CD;}
.theme1Colour12.active {background-color: #97C7CD;} /*active subject button colour*/
.theme1Colour12.expanded {color: #FFFFFF;} /*text colour for titles of expanded tasks*/


