
.hide {
    display: none;
}

.show {
    display: block;
}

.working{
    color: darkseagreen;
}


.break{
    color: #31b0d5;
}

.longBreak{
    color: #337ab7;
}

.none{
    color: #c3c3c3;
}

#pomodoroDiv {
    position: absolute;
    top: 20px;
    right: 15px;
    margin: 15px;
    height:300px;
    width: 300px;
    float: right;
}

.pomButtonShow {
    width: 40%;
    margin: 4%;

}

.pomButtonShow:hover {
    width: 40%;
    margin: 4%;
}

#clock{
    position: relative;
    margin: auto;
    width: 70%;
    font-family: sans-serif;
    font-size: 4.5em;
    margin-top: 30%;
}

#minsDiv {
    float: left;
}

#secsDiv {
    float: right;
}

/*===================================================================================================================*/
/*HOURGLASS*/
/*===================================================================================================================*/

#hourGlass{
    position: relative;
    width: 335px;
    height: 522px;
}
#topSand{
    fill:#1ea5a6;
    position: absolute;
    width: 100%;        /*Changing the width here will change the size of the triangle, keeping aspect ratio*/
    height: 100%;
    left:0%;               /*It seems like this can be used to move it horizontally. When width is zero, left should be 50% to keep them lined up*/
}

#bottomSand{
    fill: #1ea5a6;
    position: absolute;
    width: 1%;          /*Changing the width here will change the size of the triangle, keeping aspect ratio*/
    height: 100%;
    left:50%;                /*When width is zero, left should be 50% to keep them lined up.*/
    bottom: -48%;
}

#glass{
    fill:#D8D8D8;
    opacity: .7;
    position: absolute;
}

/*//////////////////////////////////NEW HOURGLASS WITH TRIANGLE DIVS///////////////////////////////////////////*/

#topTriangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 100px solid rgba(0,0,0,0);
    border-right: 100px solid rgba(0,0,0,0);
    border-top: 150px solid rgba(49,169,168,1);
    display: block;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    bottom:10px;
}


#bottomTriangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0px solid rgba(0,0,0,0);
    border-right: 0px solid rgba(0,0,0,0);
    border-bottom: 0px solid rgba(49,169,168,1);
    display: block;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    bottom:0;

}

#topContainer{
    position: relative;
    background-color: lightgrey;
    height: 160px;
    width: 200px;
}

#bottomContainer{
    position: relative;
    background-color: lightgrey;
    height: 160px;
    width: 200px;
}
