.axis {
    font: 10px sans-serif;
}

.x.axis path {
    display: none;
}

.yellow {
    fill: yellow;
}

.pink {
    fill: pink;
}

#chartContainer{
    background-color: plum;
    display: block;
    Margin: auto;
    width: 80%;
}

.bar-text{
    font-family: 'Acme', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    color: red;
    background-color: #31A9A8;
}