#profilePage{

    overflow: auto;
    overflow-y: scroll;
    position: relative;
    height: 668px;
    width: 100%;
}



.axis {
    font: 10px sans-serif;
}

.x.axis path {
    display: none;
}

.yellow {
    fill: yellow;
}

.pink {
    fill: pink;
}

#chartContainer{
    background-color: plum;
    display: block;
    Margin: auto;
    width: 80%;
}

.bar-text{
    font-family: 'Acme', sans-serif;
    font-size: 1.5em;
    fill: #607A93;
}

#chart {
    display: block;
    margin: auto;
    /*height: 300px;*/
}

#subjectsRecordSection{
    background-color: whitesmoke;
}


.barChartHeading{
    font-family: acme, sans-serif;
    color: #607A93;
    font-weight: 400;
    font-size: 2.5em;
    text-align:center;
    display: inline;
}

#barHeadingDiv{
    display: block;
    Margin: auto;
    width: 900px;
    padding: 3%;
}

.barChartToggle{
    color: white;
    border: none;
    font-family: acme;
    text-transform: uppercase;
    border-radius: 5px;
    width: 140px;
    height: 35px;
    background-color: rgb(149,202,173);
    font-size: 1em;
    margin-left: 12px;
    float: right;
}

.progressPageMessage{
    width:900px;
    color: #607A93;
    font-weight: 400;
    text-align:center;
    font-size: 1.5em;
    display: block;
    margin: auto;
    padding: 30px;

    /*text-transform: uppercase;*/
}



.progressHeading{
    display: block;
    Margin: auto;
    width: 900px;
    padding: 3%;
    text-align:center;
    display: inline;
}

/*.tick text{*/
    /*fill: white;*/
    /*font-size: 1em;*/
    /*margin-top: -5px;*/
/*}*/

.progressHeadingFont{
    font-family: acme, sans-serif;
    color: #607A93;
    font-weight: 400;
    font-size: 2.5em;
}

#timeStudyingHeading{
    font-family: acme, sans-serif;
    padding-top: 3%;
    color: #607A93;
    font-weight: 400;
    font-size: 2.5em;
    width: 900px;
    display: block;
    margin:auto;
}

#heatmapSection{
    background-color: #d1d7dd;
    padding-bottom: 200px;
}

/*  SECTIONS  */
.sectionMonth {
    clear: both;
    padding: 0px;
    margin: 0px;
    width: 1020px;
    display: block;
    margin: auto;
}

/*  COLUMN SETUP  */
.colMonth {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
    color: #607A93;
}

.colMonth:first-child { margin-left: 0; }

/*  GROUPING  */
.groupMonth:before,
.groupMonth:after { content:""; display:table; }
.groupMonth:after { clear:both;}
.groupMonth { zoom:1; /* For IE 6/7 */ }


.span_1_of_12 {
    width: 6.866%;
}

.legendSquare{
    height: 30px;
    width: 30px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 5px;
}

.legendText{
    display: inline-block;
    color: #607A93;
    font-size: .8em;
    margin-right: 5px;
}

#myHeatmapLegend{
    width: 900px;
    display: block;
    margin: auto;
    padding: 10px;

}

#square1{
    background-color: #A9CFA7;
}

#square2{
    background-color: #86C7A3;
}

#square3{
    background-color: #3EC099;
}

#square4{
    background-color: #37A294;
}

#square5{
    background-color: #1E7D8A;
}