#footerWrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

#footer {
    padding: 5px;
    text-align: center;
    background-color: whitesmoke;
    color: darkslategray;
}

#flip {
    height: 25px;
    cursor: pointer;
    background-color: #1B9BAE;
    z-index: 2;
    position: relative;
}

#scheduleMe {
    position: absolute;
    background: #95CAAD;
    width: 242px;
    height: 50px;
    top: -50px;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

#scheduleText{
    font-family: acme, sans-serif;
    color: white;
    font-size: 1.1em;
    right: 25px;
    top: 15px;
    position: absolute;
}

#cardsIcon {
    height: 34px;
    width: 71px;
    position: relative;
    top: 10px;
    left: 15px;
}

#footer {
    display: none;
}

#subjectsInnerWrapper {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

#subjectsInnerWrapper::-webkit-scrollbar {       /*hides the scrollbar*/
    display: none;
}

#tasksInnerWrapper {
    display: -webkit-box; /*OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    overflow: auto;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

#subjectFilters, #unassignedTasksList {
    white-space: nowrap;
}

/*#unassignedTasksList should have a min-height in case it is empty
and the user wants to drag a task from the calendar to the footer.*/
#unassignedTasksList {
    min-height: 70px;
    min-width: 100%;
    margin:auto;
    display: inline-flex;
    position: relative;
    margin-top: 10px;
    text-align:left;
    background-color: transparent;
}

button:focus {outline:0;}

#subjectFilters .subject{
    display: inline-block;
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 0;
    color: #607A93;
    border: none;
    font-size: .8em;
    height: 30px;
    background-color: transparent;
}

#unassignedTasksList li {
    display: inline-block;
    width: 135px;
    margin-left: 10px;
    margin-bottom: 0;
    white-space: normal;
    text-align: left;
    -webkit-transform: translate3d(0,0,0);
    z-index: 20;
}

/*start app with this message being hidden*/
#unassignedMessage {
    color: #607A93;
    display: none;
    width: 100px;
    position: absolute;
    top: 98px;
    width: 100%;
}